---
layout: default
---
<!--
	Need to figure out the CSS for it. Too bad I don't know squat about UI :-)

<div id="toc">
	<ul>
		{% for page in site.pages %}
		{% case page.path %}
		{% when 'debug.md' %}
		{% when 'index.md' %}
		<li><a href="{{ site.baseurl }}index.html">Home</a></li>
		{% else %}
		<li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
		{% endcase %}
		{% endfor %}
	</ul>
</div>
-->

<div class="post">
  <article class="post-content">
    {{ content }}
  </article>
</div>
